/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Raleway', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* Custom Styles */

.container{
    max-width: 1700px;
    width: 100%;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.align_center{
    align-items: center;
}
.center{
    justify-content: center;
}
.flex_32{
    flex: 0 1 32%;
}
.flex_48{
    flex: 0 1 48%;
}
.flex_30{
    flex: 0 1 30%;
}
.flex_20{
    flex: 0 1 20%;
}
.flex_23{
    flex: 0 1 23%;
}
.flex_25{
    flex: 0 1 25%;
}
.flex_50{
    flex: 0 1 50%;
}
.flex_40{
    flex: 0 1 40%;
}
.flex_60{
    flex: 0 1 60%;
}
.flex_45{
    flex: 0 1 45%;
}
.wrap{
    flex-wrap: wrap;
}
.column{
    flex-direction: column;
}
html{
    font-size: 16px;
}

/* Header */
.header{
    padding: 2rem 0;
}
.brand{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #635551;
}
.nav a{
    color: black;
    margin-right: 3rem;
    font-weight: 600;
}
.nav a:hover, .nav select:hover{
    color: #FF5821;
}
.nav .active{
    color:#FF5821 ;
}
.nav select{
    border: 0;
    outline: 0;
    font-size: 1rem;
    font-weight: 600;
}
#header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: -3px -3px ;
    box-shadow: -2px -2px 6px rgba(128, 128, 128, 0.295), 2px 2px 6px rgba(128, 128, 128, 0.555);

}
/* dropdown */
.drop_down_list{
    position: absolute;
    background-color: white;
    flex-direction: column;
    display: none;

}
.drop_down:hover + .drop_down_list{
    display: block;
    transition: all 0.3s ease;
    margin-left: -1rem;
    flex-direction: column;
}
.drop_down_list:hover{
    display: block;
    margin-left: -1rem;
    flex-direction: column;
}
.drop_down_list a{
    margin-top: 1rem;
    padding: 1rem 2rem;
    display: block;
}
.header .deep_drop_down{
    right: -10rem;
    margin-top: -5rem;
}
.close_logo, .bars{
    display: none;
}

/* Main */

/* Hero section */

.hero_section{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../media/hero-bg.jpg) no-repeat;
    background-size: cover;
    height: 70vh;
    margin-top: 6rem;
}
.hero_content{
    top: 10rem;
}
.hero_content h1{
    font-size: 3rem;
    color: #ffffff;
    font-weight: 600;
}
.hero_content p{
    font-size: 1.3rem;
    color: #ffffff;
    letter-spacing: 0.1rem;
    margin-top: 1.2rem;
    font-weight: 500;
}
.start_btn{
    margin-top: 5rem;
    position: relative;
}
.start_btn a:hover{
    background-color: #EA5433;
    color: #ffffff;
    transition: 0.3s all ease-in-out;
}
.start_btn i{
    background-color: #EA5433;
    color: #ffffff;
    padding: 1.5rem;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
}
.start_btn a{
    background-color: #584b489f;
    color: #ffffff;
    padding: 1rem 3rem;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    letter-spacing: 0.1rem;
   position: absolute;
    z-index: 1;
    left: 3rem;
    top: 0.7rem;
}
.card_active{
    background-color: #FF5821;
    padding:4rem 2.5rem;
    border-radius: 6px;
}

.card_active h2{
    font-size: 2.3rem;
    line-height: 2.5rem;
    color: #ffffff;
    font-weight: 600;
}
.card_active p{
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.5rem;
    margin-top: 1rem;
}
.learn_btn_div{
    margin-top: 2rem;
}
.learn_btn{
    background-color: #ffffff42;
    color: #fffffff1;
    padding: 1rem 2rem;
    border-radius: 2rem;
}
.learn_btn:hover{
    background-color: #ffffff;
    color:#EA5433 ;
    transition: 0.3s all ease-in-out;

}.card{
    text-align: center;
    padding: 4rem 1rem;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: -2px -2px 2px rgba(128, 128, 128, 0.315), 2px 2px 2px gray;
}
.card i{
    font-size: 2rem;
    color: #EA5433;
}
.card h3{
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: bolder;
    width: 60%;
    line-height: 2rem;
    margin: 2rem auto;
}
.card .labore{
    width: 100%;
}
.card p{
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 2rem;
    font-weight: 500;
}
.card_new{
    padding: 5rem 1rem;
}
.cards_section{
    margin-top: -150px;
}

/* About section */

.about_section{
    background-color: #FFF9F7;
    padding: 3rem;
    margin-top: 3rem;
}
.about_img{
    background: url(../media/about-img.jpg) no-repeat;
    background-size: cover;
    height: 90vh;
}
.about_img img{
    width: 80px;
}
.about_right_top small{
    font-size: 1rem;
}
.about_right_top h3{
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 2.5rem;
    margin-top: 1rem;
}
.about_right_top p{
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 1rem;
}
.finger_print{
    margin-top: 4rem;
}
.finger_print i{
    font-size: 2rem;
    border: 2px solid wheat;
    padding: 1rem;
    border-radius: 50%;
    color: #EA5433;
    margin-right: 2rem;
}
.finger_print h5{
    font-size: 1.2rem;
    font-weight: bolder;
}
.finger_print p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 0.5rem;
}

.finger_print:hover i{
    background-color: #FF5821;
    color: #ffffff;
    transition: 0.3s all ease-in-out;
}

/* Client section */

.client_section{
    margin-top: 3rem;
}
.clients{
    padding: 0 4rem;
}
.clients img{
    width: 150px;
    filter: grayscale(100%);
}
.clients img:hover{
    filter: grayscale(0%);
}
.dots{
    margin-top: 2rem;
}
.dot{
    background-color: #FF5821;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.dot_active{
    background-color: rgba(255, 255, 255, 0.849);
}
.dot_active_new{
    background-color: rgba(128, 128, 128, 0.664);
}

/* Services section */

.services_section{
    text-align: center;
    margin-top: 3rem;
    padding: 4rem;
    background-color: #FFF9F7;
}
.heading{
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
}
.para{
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-top: 1rem;
    font-weight: 600;
    text-align: center;
}
.service_cards{
    margin-top: 3rem;
}
.service_card{
    background-color: #ffffff;
    padding: 5rem 1rem;
    position: relative;
    margin-top: 3rem;
    box-shadow: -2px -2px 6px rgba(128, 128, 128, 0.178), 2px 2px 6px rgba(128, 128, 128, 0.493);

}
.service_card i{
    background-color: #FF5821;
    color: #ffffff;
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.5rem; 
}
.service_card:hover .service_icon i{
    background-color: #ffffff;
    color: #FF5821;
    border: 2px solid #FF5821;
    transition: 0.3s all ease-in-out;
}
.service_card:hover strong {
    color: #FF5821;
    transition: 0.3s all ease-in-out;

}
.service_icon{
    position: absolute;
    left: 15rem;
    top: -1.5rem;
}
.service_card strong{
    font-size: 1.3rem;
    font-weight: 800;
    display: block;
    text-transform: uppercase;
}
.service_card p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
}

/* Values Section */

.values_section{
    margin-top: 3rem;
}

.value_art_one{
    background: url(../media/values-1.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;

}
.value_content{
    background-color: #ffffffd3;
    width: 80%;
    border-radius: 6px;
    padding: 2rem;
}
.value_art_one:hover .value_content{
    background-color:#FF5821 ;
    color: #ffffff;
    transition: 0.3s all ease-in-out;

}
.value_art_one:hover .value_icon a{
    color: #ffffff;
}

.value_content h3{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
}
.value_content p{
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 1rem;

}
.value_content i{
    margin-right: 0.5rem;
}
.value_content a{
    font-size: 0.8rem;
    color: black;
    font-weight: 550;
}
.value_icon{
    margin-top: 1rem;
}
.value_art_one{
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 2rem;
    margin-top: 3rem;
}
.value_art_one_two{
    background: url(../media/values-2.jpg) no-repeat;
     background-size: cover; 
}
.value_art_one_three{
    background: url(../media/values-3.jpg) no-repeat;
    background-size: cover;
}
.value_art_one_four{
    background: url(../media/values-4.jpg) no-repeat;
    background-size: cover;
}

/* Testimonial section */

.testimonial_section{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)) ,url(../media/testimonials-bg.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 8rem;
    margin-top: 4rem;
}
.testimonial_section img{
    width: 100px;
    border-radius: 50%;
    border: 5px solid gray;
}
.testimonial_section strong{
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    display: block;
    margin-top: 1.5rem;

}
.testimonial_section small{
    font-size: 1rem;
    color: #ffffffad;
    font-weight: 500;
    line-height: 2;
}
.testimonial_section blockquote{
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1.5;
    color: #ffffff;
    margin-top: 1.5rem;
}

/* Portfolio Section */

.portfolio_section{
    text-align: center;
    margin-top: 5rem;
}
.btns{
    margin-top: 3rem;
}
.btns a{
    font-size: 1rem;
    font-weight: 700;
    color: black;
    margin-right: 1rem;
    padding: 1rem 1.5rem;
}
.btns .btns-active{
    background-color: #f8e9da;
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    color: red;
}
.btns a:hover{
    background-color:#F8E9DA;
    border-radius: 2rem;
    color: red;
    transition: 0.3s all ease-in-out;

}
.portfolio_articles{
    margin-top: 3rem;
}
.portfolio_img_one img{
    width: 100%;
}

.portfolio_img_one{
    position: relative;
    margin-top: 2rem;

}
.portfolio_hover{
    background-color: #ffffff;
    border-radius: 7px;
    width: 80%;
    position: absolute;
    bottom: 2rem;
    left: 1.2rem;
    display: none;
    padding: 0.5rem 2rem;
}
.portfolio_img_one:hover .portfolio_hover{
    display: inline-flex;
    transition: 0.5s all ease-in-out;
}

.portfolio_hover strong{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2;
}
.portfolio_hover p{
    font-size: 1rem;
    color: gray;
}
.portfolio_hover_icons i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

/* Team Section */

.team_section{
    text-align: center;
    margin-top: 10rem;
    background-color: #FEF9F7;
    padding: 5rem;
    margin-top: 2rem;
}
.team_art_one{
    box-shadow: -2px -2px 2px rgba(128, 128, 128, 0.295), 2px 2px 2px rgba(128, 128, 128, 0.555);
    border-radius: 5px;
    position: relative;
}
.team_articles{
    margin-top: 3rem;
}
.team_art_one img{
    width: 100%;
    border-radius: 5px;
}
.team_art_one strong{
    font-size: 1.3rem;
    font-weight: 800;
    display: block;
    margin-top: 2rem;
}
.team_art_one small{
    font-size: 0.8rem;
    color: gray;
    line-height: 3;
}
.team_icons{
    background-color: #ffffffd0;
    width: 100%;
    color: rgba(0, 0, 0, 0.904);
    border-radius: 3px;
    margin: auto;
    padding: 1rem 0;
    position: absolute;
    bottom: 5.5rem;
    display: none;
}
.team_art_one:hover .team_icons{
    display: block;
    transition: 0.5s all ease-in-out;

}
.team_icons i{
    font-size: 1.5rem;
    margin-left: 2rem;
}


/* Pricing Section */

.pricing_section{
    text-align: center;
    margin-top: 5rem;
}
.pricing_cards{
    margin-top: 3rem;
}
.pricing_card_one{
    box-shadow: -2px -2px 8px rgba(128, 128, 128, 0.295), 2px 2px 8px rgba(128, 128, 128, 0.555);
}
.pricing_card_one ul li a{
    color: black;
}
.pricing_card_one ul li a:hover{
    color: #FF5821;
}
.pricing_card_one ul{
    padding: 1rem 0;

}
.pricing_card_one p{
    font-size: 1rem;
    color: black;
    font-weight: 700;
}
.free{
    background-color: #f3ececc0;
    width: 100%;
    height: 4rem;
}
.pricing_card_one .price_dollar{
    margin-top: 2rem;
}
.pricing_card_one strong{
    font-size: 2rem;
    color: #FF5821;
    font-weight: 900;
    padding-top: 2rem;
}
.pricing_card_one small{
    font-size: 1rem;
    color: gray;
    font-weight: lighter;
}
.pricing_card_one ul{
    margin-top: 1rem;
}
.pricing_card_one li{
    line-height: 3;
    font-size: 1.2rem;
    color: black;
    font-weight:570;
}
.btn{
    background-color: #FF5821;
    border-radius: 4px;
    padding: 0.8rem 3rem;
    color: #ffffff;
}
.free_active{
    margin-top: 2rem;
}
.pricing_card_one .li_active{
    color: rgba(128, 128, 128, 0.747);
}
.business_btn{
    background-color: #FF5821;
    color: #ffffff;
}
.business_btn p{
    color: #ffffff;
}

/* FAQ section */

.faq_section{
    background-color: #FFF9F7;
    padding: 5rem;
    margin-top: 3rem;
}

.faq_section select{
    width: 100%;
    font-size: 1.2rem;
    color: red;
    border: none;
    outline: none;
    height: 3rem;
    margin-top: 2rem;
    border-radius: 5px;
}
.faq_section i{
    font-size: 1.2rem;
    color: red;
}
#select_black{
    color: black;
}
.faq_section select option:hover{
    color: #FF5821;
}
#select_black:hover{
    color: orangered;
}

.select_div{
    margin: 2rem 10rem;
}

/* contact Section */

.contact_section{
    margin-top: 5rem;
}
.contact_content_top .contact_one{
    box-shadow: -2px -2px 6px rgba(128, 128, 128, 0.295), 2px 2px 6px rgba(128, 128, 128, 0.555);

}

.contact_content{
    width: 70%;
    margin: auto;
    margin-top: 3rem;
}
.btn_new:hover, .btn:hover{
    background-color: #ff5821d8;
}
.contact_one{
    padding: 3rem 0.3rem;
    box-shadow: -2px -2px 5px rgb(128, 128, 128), 2px 2px 5px rrgba(128, 128, 128, 0.918)

}
.contact_one{
    align-items: unset;
    justify-content: unset;
    padding: 2.5rem 0.5rem;
}
.contact_one i{
    border: 1px solid wheat;
    border-radius: 50%;
    font-size: 1.5rem;
    padding: 1rem 1.2rem;
    color: red;
}

address{
    margin-left: 2rem;
}
address strong{
    font-size: 1.2rem;
    font-weight: 800;
    display: block;
    margin-bottom: 1rem;
}
address small{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    display: block;
}
form input{
    display: block;
    width: 98%;
    height: 40px;
    font-size: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.39);
    border-radius: 3px;
    outline: none;
}
form input:focus, textarea:focus{
    border: 1px solid red;
}
.flex_input{
    width:100%;
}
.flex_input #email{
    margin-left: 1rem;
}
form{
    padding: 2rem;
    box-shadow: -2px -2px 5px rgba(128, 128, 128, 0.295), 2px 2px 5px rgba(128, 128, 128, 0.555);
    margin-top: 2rem;
}
textarea{
    padding:2rem 0.75rem;
    margin-top: 1rem;
    font-size: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.39);
    outline: none;
}

.free_new{
    background-color: transparent;
}

/* Footer */

.footer_section{
    background-color: #FFF9F7;
    padding: 4rem;
    margin-top: 4rem;
}

.foot_one h2{
    font-size: 2.2rem;
    font-weight: 600;

}
.foot_one{
    padding: 2rem 0;
    margin-top: -2rem;
}

.foot_one address{
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 0;
    width: 48%;
    line-height: 1.5;
    font-weight: 550;
}
.foot_one .phon{
    margin-top: 2rem;
    width: 100%;
}
.foot_one span{
    font-weight:0;
    color: rgba(0, 0, 0, 0.781);
    font-size: 1rem;
}
.foot_two h2, .foot_three h2{
    font-size: 1.4rem;
    font-weight: 620;

}
.foot_two ul{
    margin-top: 1rem;
}
.foot_two ul li a{
    font-size: 1.2rem;
    color: black;
    line-height: 3;
    font-weight: 560;
}
.foot_two ul li i{
    color: red;
    margin-right: 1rem;
}
.foot_two a:hover{
    color:#FF5821 ;
}

.foot_three p{
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
    margin-top: 1.5rem;
}
.foot_three input{
    width: 80%;
    height: 3rem;
    border-radius: 2rem;
    border: 2px solid wheat;
}
.subscribe_btn_div_total{
    margin-top: 2rem;
}
.subscribe_btn_div .subscribe_btn{
    background-color: #ED3B00;
    padding: 1.2rem 3rem;
    border-radius: 2rem;
    color: #ffffff;
    font-size: 1rem;
    margin-left: -5rem;
}
.subscribe_btn:hover{
    background-color:#ff5821d8 ;
}
.foot_top{
    align-items: unset;
}

/* Footer bottom */

.footer{
    margin-top: 2rem;
    padding: 1.5rem 0;
}
.foot_left{
    font-size: 1.3rem;
    line-height: 1.4;
}
.foot_left a{
    font-size: 1.2rem;
    color: red;
}
.foot_left a:hover{
    color: #ff5821d2;
}
.foot_left .flexor_str{
    font-weight: 600;
    color: black;
    font-size: 1.5rem;
}
.foot_nav i{
    background-color: #FF5821;
    padding: 1rem;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 1rem;
    font-size: 1.5rem;
}
.foot_nav i:hover{
    background-color: #ff5821be;
}
.fixed i{
    background-color: #FF5821;
    color: #ffffff;
    padding: 1rem;
    border-radius: 6px;
    font-size: 2rem;
}
.fixed_div{
    position: relative;
}
.fixed{
    position: fixed;
    right: 2rem;
    bottom: 3rem;
}

/* Blog Page css starts */

.blog_nav{
    width: 7%;
}
.blog_nav a{
    font-size: 1.2rem;
    font-weight: 600;
    color: #272727;

}
.blog_nav .active_blog{
    color: #FF5821;
}
.blog_head h1 a{
    color: black;
}
.blog_head h1 a:hover, .blog_nav a:hover{
    color: #FF5821;
}
.blog_head h1{
    font-size: 2rem;
    font-weight: 550;
    line-height: 1.5;
}
.blog_head{
    background-color: rgba(128, 128, 128, 0.199);
    margin:9rem  auto;
    padding: 2rem 0;
}

/* Blog articles section */

.blog_time_div{
    justify-content: unset;
    margin-top: 1rem;
    margin-left:-2rem;
}
.blog_time_div i{
    margin-right: 0.8rem;
}
.blog_time_div address{
    margin-right: 1rem;
}

.blog_art_one img{
    width: 100%;
}
.blog_art_one h2{
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5;
    margin-top: 0.8rem;
}
.blog_art_one p{
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 1rem;
}
.blog_btn_div{
    margin-top: 1rem;
    justify-content: flex-end;
    margin-right: 1rem;
}
.blog_btn_new{
    padding: 0.8rem 1.5rem;
}
.blog_art_one_content{
    padding: 1rem 2rem;
}
.blog_art_one{
    box-shadow: -2px -2px 8px rgba(128, 128, 128, 0.295), 2px 2px 8px rgba(128, 128, 128, 0.555);
    margin-top: 3rem;
    border-radius: 3px;
}
.blog_articles{
    margin-top: -5rem;
}
.pages a{
    color: #ffffff;
}
.page{
    border: 1px solid rgba(128, 128, 128, 0.425);
    background-color: #FF5821;
    color: #ffffff;
    font-size: 1.5rem;
    width: 1rem;
    border-radius: 3px;
    padding: 0.8rem 1.4rem;
    margin-right: 1rem;
}
.non_active a{
    color: #272727;
}
 .page:hover{
    background-color: #FF5821;
    color: #ffffff;
}
.page:hover a{
    color: #ffffff;
}
.non_active{
    background-color: #ffffff;
    border: 1px solid rgba(128, 128, 128, 0.425);
}
.page_section{
    margin-top: 5rem;
}
#toggle{
    display: none ;
}

/* Responsive web design */

@media screen and (max-width:768px){
    html{
        font-size: 10px;
    }
    .container{
        width: 90%;
        margin: auto;
    }
    .flex_50, .flex_60, .flex_40,
    .flex_45, .flex_20{
        flex: 0 1 100%;
    }
    .flex_23{
        flex: 0 1 48%;
    }
   
    
  .hero_content p{
      width: 60%;
      line-height: 1.5;
  }
  .card_active h2{
      font-size: 3rem;
      line-height: 1.5;
  }
  .card_active p{
      font-size: 1.4rem;
      line-height: 1.5;
  }
  .card{
      margin-top: 2rem;
  }
  .card h3{
    font-size: 2rem;
  }
  .about_img{
      height: 40vh;
  }
  .about_img img{
      width: 6rem;
  }
  .about_right{
      margin-top: 2rem;
  }
  .client_hide{
      display: none;
  }
  .clients img{
      width: 20%;
  }
  .flex_30{
      flex: 0 1 45%;
  }
  .portfolio_section .flex_32{
      flex: 0 1 48%;
  }
  .contact_section .flex_30{
      flex:  0 1 100%;
  }
  .service_icon{
      left: 44%;
  }
  .value_art_one{
      height: 30vh;
  }
  .team_art_one, .pricing_card_one{
      margin-top: 2rem;
  }
  .contact_one{
      margin-top: 1rem;
  }
  form{
      width: 94%;
  }
  .contact_content{
      width: 100%;
  }
  form input{
      width: 80%;
  }
  #subject{
      width: 98%;
  }
textarea{
    width: 97%;
  }
  .medium_wrap{
      flex-wrap: wrap;
  }
  .medium_column{
      flex-direction: column;
  }
  .foot_one address{
      width: 100%;
  }
  .foot_two_medium, .foot_three{
      margin-top: 3rem;
  }
  .nav{
      display: none;
  }
  #toggle:checked ~ .nav{
      display: inline-block;
  }
  .bars{
      font-size:2rem;
      position: relative;
  }
  .close_logo{
      position: absolute;
      top: 3rem;
      right: 3rem;
      font-size: 2rem;
      color: white;
  }
  .brand{
      position: relative;
      z-index: 99;
  }
  .nav{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(#159957, #155799);
      width: 100%;
      height: 100vh;
      padding-top: 15rem;
  }
  .nav li{
      line-height: 2;
      font-size: 2rem;
      margin: 1rem 0;
  }
  .nav li a{
    color: #ffffff;

  }
  .nav li select{
      font-size: 1.5rem;
  }
  .about_section{
      padding: 2rem 0;
      margin-top: 2rem;
  }
  .close_logo, .bars{
    display: inline-block;
 }
}

@media screen and (max-width:360px) {
    html{
        font-size: 8px;
    }
    .hero_content p{
        width: 100%;
    }
    .cards_section{
        margin-top: -10rem;
    }
    .card h3{
        font-size: 1.6rem;
    }
    .flex_30, .flex_48, .portfolio_section .flex_32,
    .flex_23, .flex_32{
        flex: 0 1 100%;
    }
    .faq_section .select_div{
        width: 100%;
        margin-left: 0;
    }
    form{
        width: 90%;
    }
    form input{
        height: 3rem;
    }
    .flex_input{
        display: block;
    }
    .flex_input input{
        width: 98%;
    }
    .flex_input #email{
        margin-left: 0;
    }
}

